.setting-button {
  position: fixed;
  top: 1em;
  left: 1em;
}

.setting-item {
  margin-top: .5em;
}

.label::after {
  content: ":";
  margin-right: .5em;
}

.target {
  &.block {
    margin-right: 1em;
  }
}
