.setting-button {
  position: fixed;
  top: 1em;
  right: 1em;
}

.setting-item {
  padding: 2em 0;
  border-bottom: 1px solid #c57f7f;
}

.label::after {
  content: ":";
  margin-right: .5em;
}

.control-wrapper {
  position: relative;
  padding: 0 4em;
}

.abs {
  position: absolute;
  top: 0;
  width: 3em;
  transform: translateY(-0.5em);
  line-height: 2em;
  text-align: center;
}

.abs-left {
  left: 1em;
}

.abs-right {
  right: 1em;
}
