html,
body,
.canvas,
.canvas-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  padding: 1em;
}
.canvas-container {
  position: relative;
}
#canvas-background {
  position: absolute;
  top: 0;
  left: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
