html,
body,
.canvas,
.canvas-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  padding: 1em;
}
.canvas-container {
  position: relative;
  border: 10px solid rgba(222, 222, 222, .7);
  border-radius: 6px;
}
#canvas-background {
  position: absolute;
  top: 0;
  left: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.score {
  position: fixed;
  top: 0;
  left: 50%;
  padding: .5em 1em;
  transform: translateX(-50%);
  border-radius: 0 0 4px 4px;
  color: white;
  background-color: rgba(0, 0, 0, .3);
}
